 @media all and (max-width: 1120px) {
    
    .margen-interno {
    padding: 0 10px;
    }
    .section{
      flex-direction: column;
    }
    .menu {
      flex-direction: column;
      display: inline-block;
      height: auto;
    }
    nav{
      flex-direction: column;
      padding: 60px 20px;
    }
    .nav-enlace{
      margin: 10px 0;
    }
    .nav-boton{
      display: inline-block;
    }
    .desaparece{
      display: none;
    }
    .titulo-principal,
     .titulo-secundario {
      font-size: 15px;
      padding: 30px;
    }
   
    .articulos, 
    .articulos-tele, 
    .articulos-soft {
      flex-direction: column;
    }
    
    .article{
      flex-direction: column;
      font-size: 12px;
    }

    .aside {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    
   .navegacion{
     display: none;
   }
   .article-img1tel, 
   .article-img3tel{
     width: 100%;
     margin-right: 0px;
   }
   .article-img2tel{
     width: 100%;
     margin-left: 0px;
   }
  }


 