@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?91aol8');
  src:  url('icomoon.eot?91aol8#iefix') format('embedded-opentype'),
    url('icomoon.ttf?91aol8') format('truetype'),
    url('icomoon.woff?91aol8') format('woff'),
    url('icomoon.svg?91aol8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-floppy-disk:before {
  content: "\e962";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-android:before {
  content: "\eac0";
}
